# Skopiuj ten plik jako .env i uzupełnij wartości
# (używane przy hostingu na Railway / serwerze)

BOT_TOKEN=TWOJ_TOKEN_Z_DISCORD_DEVELOPER_PORTAL
CHANNEL_ID=TWOJE_ID_KANALU_DISCORD
ANTHROPIC_KEY=TWOJ_KLUCZ_sk-ant-...
